//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.08
//Part Number: GW1NR-UV9LQ144PC6/I5
//Device: GW1NR-9C
//Created Time: Tue 04 23 20:41:11 2024

IO_LOC "BLUE[4]" 47;
IO_PORT "BLUE[4]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[3]" 46;
IO_PORT "BLUE[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[2]" 45;
IO_PORT "BLUE[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[1]" 44;
IO_PORT "BLUE[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[0]" 43;
IO_PORT "BLUE[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[5]" 57;
IO_PORT "GREEN[5]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[4]" 56;
IO_PORT "GREEN[4]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[3]" 54;
IO_PORT "GREEN[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[2]" 52;
IO_PORT "GREEN[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[1]" 51;
IO_PORT "GREEN[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[0]" 50;
IO_PORT "GREEN[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[4]" 66;
IO_PORT "RED[4]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[3]" 65;
IO_PORT "RED[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[2]" 64;
IO_PORT "RED[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[1]" 63;
IO_PORT "RED[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[0]" 62;
IO_PORT "RED[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "DE" 39;
IO_PORT "DE" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "VSYNC" 32;
IO_PORT "VSYNC" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "HSYNC" 38;
IO_PORT "HSYNC" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "PCLK" 34;
IO_PORT "PCLK" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LED" 15;
IO_PORT "LED" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=16;
IO_LOC "RESET_n" 11;
IO_PORT "RESET_n" IO_TYPE=LVTTL33 PULL_MODE=NONE HYSTERESIS=HIGH;
IO_LOC "C27M" 58;
IO_PORT "C27M" IO_TYPE=LVTTL33 PULL_MODE=NONE;
