//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.08
//Part Number: GW1NR-UV9LQ144PC6/I5
//Device: GW1NR-9C
//Created Time: Thu 09 19 10:59:22 2024

IO_LOC "DIF_TDMI" 135;
IO_PORT "DIF_TDMI" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "MCLK" 30;
IO_PORT "MCLK" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[4]" 46;
IO_PORT "BLUE[4]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[3]" 45;
IO_PORT "BLUE[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[2]" 44;
IO_PORT "BLUE[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[1]" 43;
IO_PORT "BLUE[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BLUE[0]" 42;
IO_PORT "BLUE[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[5]" 59;
IO_PORT "GREEN[5]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[4]" 57;
IO_PORT "GREEN[4]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[3]" 54;
IO_PORT "GREEN[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[2]" 52;
IO_PORT "GREEN[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[1]" 51;
IO_PORT "GREEN[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GREEN[0]" 50;
IO_PORT "GREEN[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[4]" 67;
IO_PORT "RED[4]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[3]" 66;
IO_PORT "RED[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[2]" 65;
IO_PORT "RED[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[1]" 64;
IO_PORT "RED[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "RED[0]" 63;
IO_PORT "RED[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "DE" 38;
IO_PORT "DE" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "VSYNC" 32;
IO_PORT "VSYNC" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "HSYNC" 34;
IO_PORT "HSYNC" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "PCLK" 48;
IO_PORT "PCLK" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "HDMI_RST_n" 15;
IO_PORT "HDMI_RST_n" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "C27M" 58;
IO_PORT "C27M" IO_TYPE=LVTTL33 PULL_MODE=NONE;
IO_LOC "C24M" 56;
IO_PORT "C24M" IO_TYPE=LVTTL33 PULL_MODE=NONE;
